@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	cursor: none !important;
}

html {
	height: 100%;
	font-family: "Nova Square";
}

body {
	background-color: #064779;
}

.header {
	min-height: 20vh;
	width: 100%;
	background-position: center;
	background-size: cover;
	position: relative;
}

nav {
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;
}

nav img {
	width: 150px;
	border-radius: 80px;
}

.nav-links {
	height: 100%;
}

.nav-links ul li {
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}

.nav-links ul li a {
	text-align: left;
	font-size: 25px;
	font-weight: bolder;
	text-decoration: none;
	cursor: none;

}

.nav-links ul li::after {
	content: "";
	width: 0%;
	height: 2px;
	background: #bef436;
	display: block;
	margin: auto;
	transition: 0.5s;
}

.nav-links ul li:hover::after {
	width: 100%;
}

#preloader {
	background: #000 url(../IMG/preloader.gif) no-repeat center center;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 100;
}

.cursor-inner {
	background-color: #fff;
	width: 13px;
	height: 13px;
	z-index: 2;
}

.cursor-outer {
	background-color: #7228e2;
	width: 35px;
	height: 35px;
	opacity: .5;
	z-index: 1;
}

.cursor-inner,
.cursor-outer {
	position: fixed;
	top: 0;
	left: 0;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	pointer-events: none;
}

p {
	color: white;
}

#container:hover {
	border: 2px solid white;
	box-shadow: 0 0 25px white, 0 0 25px white, 0 0 5px white, 0 0 5px white;
}

button {
	border-radius: 5px;
	padding: 15px 25px;
	background-color: rgb(216, 236, 253);
	color: rgb(14, 150, 234);
}

button:hover {
	background-color: rgb(67, 159, 220);
	color: black;
}
