* {
	cursor: none !important;
}

html {
	height: 100%;
	font-family: "Nova Square";
}

body {
	margin: 0;
	padding: 0;
	background-image: url('https://cdn.pixabay.com/photo/2023/07/24/08/28/ai-generated-8146556_1280.png');
	background-repeat: no-repeat;
	font-family: Arial, sans-serif;
	align-items: center;
	justify-content: center;
}

.header {
	min-height: 20vh;
	width: 100%;
	background-position: center;
	background-size: cover;
	position: relative;
}

nav {
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;
}

nav img {
	width: 150px;
	border-radius: 80px;
}

.nav-links {
	height: 100%;
}

.nav-links ul li {
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}

.nav-links ul li a {
	text-align: left;
	font-size: 25px;
	font-weight: bolder;
	text-decoration: none;
	cursor: none;

}

.nav-links ul li::after {
	content: "";
	width: 0%;
	height: 2px;
	background: #bef436;
	display: block;
	margin: auto;
	transition: 0.5s;
}

.nav-links ul li:hover::after {
	width: 100%;
}

#preloader {
	background: #000 url(../IMG/preloader.gif) no-repeat center center;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 100;
}

.cursor-inner {
	background-color: #fff;
	width: 13px;
	height: 13px;
	z-index: 2;
}

.cursor-outer {
	background-color: #7228e2;
	width: 35px;
	height: 35px;
	opacity: .5;
	z-index: 1;
}

.cursor-inner,
.cursor-outer {
	position: fixed;
	top: 0;
	left: 0;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	pointer-events: none;
}

.container {
	max-width: 600px;
	width: 90%;
	margin: 0 auto;
	padding: 20px;
	padding-bottom: 0px;
	background: rgba(0, 0, 0, 0.6);
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
	text-align: center;
	font-size: 24px;
	margin-bottom: 20px;
	color: #03e9f4;
}

label {
	font-size: 18px;
	color: #03e9f4;
}

input[type="text"],
input[type="email"],
textarea {
	width: 100%;
	padding: 10px;
	border: none;
	background: rgba(255, 255, 255, 0.2);
	color: white;
	border-radius: 5px;
	font-size: 16px;
	margin: 10px 0;
}

textarea {
	height: 100px;
}

.container form button {
	position: relative;
	display: inline-block;
	padding: 10px 20px;
	color: white;
	font-size: 16px;
	text-transform: uppercase;
	background: #03e9f4;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background 0.3s, color 0.3s;
	margin-top: 40px;
	letter-spacing: 4px;
}

.container form button:hover {
	background: transparent;
	color: #03e9f4;
	border: 2px solid #03e9f4;
	box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
}

@keyframes btn-anim1 {
	0% {
		left: -100%;
	}

	50%,
	100% {
		left: 100%;
	}
}


/* Responsive Queries */
@media (max-width: 768px) {
	body {
		padding: 20px;
	}

	.container {
		max-width: 100%;
	}
}
