@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	cursor: none !important;
}

body {
	font-family: Arial, sans-serif;
	background-image: url("https://cdn.pixabay.com/photo/2021/10/24/07/31/geometric-6737297_1280.png");
	background-size: cover;
}

.header {
	min-height: 20vh;
	width: 100%;
	background-position: center;
	background-size: cover;
	position: relative;
}

nav {
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;
}

nav img {
	width: 150px;
	border-radius: 80px;
}

.nav-links {
	height: 100%;
}

.nav-links ul li {
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}

.nav-links ul li a {
	text-align: left;
	font-size: 25px;
	font-weight: bolder;
	text-decoration: none;
	cursor: none;

}

.nav-links ul li::after {
	content: "";
	width: 0%;
	height: 2px;
	background: #bef436;
	display: block;
	margin: auto;
	transition: 0.5s;
}

.nav-links ul li:hover::after {
	width: 100%;
}


#preloader {
	background: #000 url(../IMG/preloader.gif) no-repeat center center;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 100;
}

.cursor-inner {
	background-color: #fff;
	width: 13px;
	height: 13px;
	z-index: 2;
}

.cursor-outer {
	background-color: #7228e2;
	width: 35px;
	height: 35px;
	opacity: .5;
	z-index: 1;
}

.cursor-inner,
.cursor-outer {
	position: fixed;
	top: 0;
	left: 0;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	pointer-events: none;
}

.card {
	background-color: whitesmoke;
	max-width: 320px;
	width: 70%;
	margin: 40px auto;
	border-radius: 7px;
	padding: 0 0 34px 0;
	height: 450px;
}

.image {
	padding: 5px;
}

.image img {
	width: 100%;
	height: auto;
	border-radius: 7px;
}

.content {
	padding: 7px 13px;
}

.content p {
	font-size: 15px;
	color: black;
}

.button {
	text-align: center;
}

.button button {
	position: relative;
	padding: 7px 13px;
	border-radius: 15px;
	background-color: rgb(216, 236, 253);
	color: rgb(14, 150, 234);
	font-size: 14px;
	margin-bottom: 7px;
	border: none;
	font-weight: bold;
	cursor: pointer;
}

.button button:hover {
	background-color: rgb(194, 225, 246);
	color: rgb(10, 136, 214);
}

.space {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#content {
	font-size: 14;
}

h2 {
	color: black;
}

#heading {
	color: white;
	margin-top: 20px;
	text-shadow: 2px 5px grey;
	font-size: 40px;
}

a {
	text-decoration: none;
	color: rgb(0, 140, 255);
}

@media screen and (min-width: 768px) {
	.card {
		width: 45%;
	}
}

@media screen and (min-width: 1024px) {
	.card {
		width: 30%;
	}
}
