@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	cursor: none !important;
}

html {
	height: 100%;
	font-family: "Nova Square";
}

body {
	margin: 0;
	padding: 0;
	background-image: url('../IMG/login.jpeg');
	background-size: cover;
}

.header {
	min-height: 20vh;
	width: 100%;
	background-position: center;
	background-size: cover;
	position: relative;
}

nav {
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;
}

nav img {
	width: 150px;
	border-radius: 80px;
}

.nav-links {
	height: 100%;
}

.nav-links ul li {
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}

.nav-links ul li a {
	text-align: left;
	font-size: 25px;
	font-weight: bolder;
	text-decoration: none;
	cursor: none;

}

.nav-links ul li::after {
	content: "";
	width: 0%;
	height: 2px;
	background: #bef436;
	display: block;
	margin: auto;
	transition: 0.5s;
}

.nav-links ul li:hover::after {
	width: 100%;
}

#preloader {
	background: #000 url(../IMG/preloader.gif) no-repeat center center;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 100;
}

.cursor-inner {
	background-color: #fff;
	width: 13px;
	height: 13px;
	z-index: 2;
}

.cursor-outer {
	background-color: #7228e2;
	width: 35px;
	height: 35px;
	opacity: .5;
	z-index: 1;
}

.cursor-inner,
.cursor-outer {
	position: fixed;
	top: 0;
	left: 0;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	pointer-events: none;
}

.wrapper {
	max-width: 75%;
	margin: auto;
}


.wrapper>h1 {
	margin: 1.5rem 0;
	text-align: center;
	color: #f1f7f5;
	font-size: 50px;
}

.wrapper>h1 {
	letter-spacing: 3px;
}

.accordion {
	background-color: white;
	color: rgba(0, 0, 0, 0.8);
	cursor: pointer;
	font-size: 1.2rem;
	width: 100%;
	padding: 2rem 2.5rem;
	border: none;
	outline: none;
	transition: 0.4s;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
}

.accordion i {
	font-size: 1.6rem;
}

.active,
.accordion:hover {
	background-color: #f1f7f5;
}

.pannel {
	padding: 0 2rem 2.5rem 2rem;
	background-color: white;
	overflow: hidden;
	background-color: #f1f7f5;
	display: none;
}

.pannel p {
	color: rgba(0, 0, 0, 0.7);
	font-size: 1.2rem;
	line-height: 1.4;
}

.faq {
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin: 10px 0;
}

.faq.active {
	border: none;
}
