* {
	MARGIN: 0;
	PADDING: 0;
	font-family: "Nova Square";
	color: white;
	cursor: none;
}

.header {
	min-height: 100vh;
	width: 100%;
	background-image: url(../IMG/bg.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
}

nav {
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;
}

nav img {
	width: 150px;
	border-radius: 80px;
}

.nav-links {
	height: 100%;
}

.nav-links ul li {
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}

.nav-links ul li a {
	text-align: left;
	font-size: 25px;
	font-weight: bolder;
	text-decoration: none;

}

.nav-links ul li::after {
	content: "";
	width: 0%;
	height: 2px;
	background: #bef436;
	display: block;
	margin: auto;
	transition: 0.5s;
}

.nav-links ul li:hover::after {
	width: 100%;
}


.nav-btn {

	display: none;

}


@media screen and (max-width: 768px) {
	.nav-links {
		display: flex;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: 100vh;
		background: #333;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		opacity: 0;
		pointer-events: none;
		transition: all 0.5s ease;
	}
	.nav-links ul {
		flex-direction: column;
	}
	.nav-links ul li a {
		font-size: 20px;
	}
	.nav-btn {
		display: block;
		background: none;
		border: none;
		color: #bef436;
		font-size: 30px;
		cursor: pointer;
		outline: none;
	}
	nav img {
		width: 100px;
	}
	#navlinks.active {
		opacity: 1;
		pointer-events: auto;
	}
}

.text-box {
	width: 98%;
	position: absolute;
	top: 50%;
	left: 22%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 50%;
}

.text-box h1 {
	font-size: 70px;
}

.text-box p {
	font-size: 25px;
}

nav.fa {
	display: none;
}

/*-------our aim feature---*/
.aim {
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
}

h1 {
	font-size: 36px;
	font-weight: 600;
}

p {
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
}

.row {
	margin-top: 5%;
	display: flex;
	justify-content: space-between;
}

.aim-col {
	flex-basis: 31%;
	background: linear-gradient(135deg, #7837cf 0%, #0449c4 100%);
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	transition: all 2s;
	box-shadow: 5px 5px;
}

.aim-col:hover {
	flex-basis: 31%;
	background: black;
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-shadow: -5px -5px;
}

h3 {
	text-align: center;
	font-weight: 600;
	margin: 10px 0;
}

.aim p {
	font-size: 20px;
}

.link {
	text-decoration: none;
	color: cyan;
}

/*--team--*/
body {
	background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(9, 14, 91, 1) 30%, rgba(13, 17, 77, 1) 80%, rgba(0, 0, 0, 1) 100%);
}

.card-img-top {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	object-fit: cover;
	margin: auto;

}

.card {
	box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
	border-radius: 0;
	padding: 20px;
	border: none;
}

.bi {
	font-size: 25px;
	color: rgb(255, 85, 0);

}

.bi:hover {
	color: rgb(246, 250, 251);
}

.text-white {
	font-size: 25px;
}

#preloader {
	background: #000 url(../IMG/preloader.gif) no-repeat center center;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 100;
}

.cursor-inner {
	background-color: #fff;
	width: 13px;
	height: 13px;
	z-index: 2;
}

.cursor-outer {
	background-color: #7228e2;
	width: 35px;
	height: 35px;
	opacity: .5;
	z-index: 1;
}

.cursor-inner,
.cursor-outer {
	position: fixed;
	top: 0;
	left: 0;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	pointer-events: none;
}

/*
 * Our Team Members
 *
 */


@import './rotate.css';

:root {
	--clr-dark: #101820;
	--clr-light: #efdab9;
	--clr-accent: #ffc31f;
	--clr-accent_shade: #e6a800;

	--ff-roboto: 'Roboto', sans-serif;

	--fs-logo: 5em;
	--fs-img: 15em;
	--fs-h1: 4.5rem;
	--fs-h2: 2.5rem;
	--fs-h3: 1.5rem;
	--fs-h4: 1.125rem;
	--fs-body: 1rem;
	--fs-small: 0.9rem;
}

@media (max-width: 800px) {
	:root {
		--fs-logo: 4em;
		--fs-img: 10em;
		--fs-h1: 3rem;
		--fs-h2: 2rem;
		--fs-h3: 1.25rem;
		--fs-h4: 1rem;
		--fs-body: 0.875rem;
		--fs-small: 0.775rem;
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	line-height: 1.6;
	color: var(--clr-light);
	background-color: var(--clr-dark);
	font-family: var(--ff-roboto);
	font-size: var(--fs-body);
}

footer {
	text-align: center;
	opacity: 0.5;
}

button {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	display: inline-block;
	background: none;
	cursor: pointer;
}

h1 {
	font-size: var(--fs-h1);
}

h2 {
	font-size: var(--fs-h2);
}

h3 {
	font-size: var(--fs-h3);
}

h4 {
	font-size: var(--fs-h4);
}

p {
	word-spacing: 1.4px;
}

.btn {
	font-size: var(--fs-h4);
	text-decoration: none;
	color: var(--clr-dark);
	padding: 1em 2em;
	background-color: var(--clr-accent);
	border-radius: 5px;
	transition: all 0.3s;
}

.btn:hover,
.btn:focus {
	background-color: var(--clr-accent_shade);
}

.sm-btn {
	font-size: var(--fs-small);
	text-decoration: none;
	color: var(--clr-dark);
	padding: 0.7em 1.4em;
	background-color: var(--clr-accent);
	border-radius: 5px;
	transition: all 0.3s;
}

.sm-btn:hover,
.sm-btn:focus {
	background-color: var(--clr-accent_shade);
}

.lg-container {
	width: 90%;
	margin: 0 auto;
}

.sm-container {
	width: 65%;
	margin: 0 auto;
	max-width: 70em;
}

.section-spacing {
	margin-bottom: 20rem;
}

.sm_section-spacing {
	margin-bottom: 5rem;
}

.hero {
	text-align: center;
	background-repeat: no-repeat;
	background-size: 100% 365px;
	background-position: center;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.landing-child {
	background-image: url(../IMG/center.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 8em;
	user-select: none;
}

.circles {
	width: 366px;
	height: 366px;
	margin: auto;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.circle {
	position: absolute;
	top: 25%;
	right: 25%;
	width: 186px;
}

.circle2 {
	position: absolute;
	top: 18.5%;
	right: 18%;
	width: 236px;
}

.circle3 {
	position: absolute;
	top: 11%;
	right: 11.5%;
	width: 286px;
}

.circle4 {
	position: absolute;
	top: 5%;
	right: 6%;
	width: 326px;
}

.circle5 {
	position: absolute;
	top: 0;
	right: 0;
	width: 366px;
}

.landing-heading {
	margin: 0 auto;
	line-height: 1.2;
}

.planet-ul {
	width: 366px;
	height: 366px;
	/* border: 1px solid white; */
	margin: 0;
	padding: 0;
	position: relative;
}

.planet {
	list-style: none;
	width: 20px;
	height: 20px;
	background: var(--clr-accent);
	border-radius: 50%;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}

.planet1 {
	background-color: #ff921f;
	box-shadow: 0 0 50px #ff921f, 0 0 50px #ff921f, 0 0 50px 10px #ff921f;
	width: 25px;
	height: 25px;
	top: 115px;
}

.planet2 {
	background-color: #059bc4;
	box-shadow: 0 0 50px #059bc4, 0 0 50px #059bc4, 0 0 50px 10px #059bc4;
	width: 30px;
	height: 30px;
	bottom: 125px;
	left: 85px;
}

.planet3 {
	background-color: #61dafb;
	box-shadow: 0 0 50px #61dafb, 0 0 50px #61dafb, 0 0 50px 10px #61dafb;
	width: 24px;
	height: 24px;
	top: 150px;
	right: 60px;
}

.planet4 {
	background-color: #ff615d;
	box-shadow: 0 0 50px #ff615d, 0 0 50px #ff615d, 0 0 50px 10px #ff615d;
	width: 15px;
	height: 15px;
	bottom: 50px;
	/* bottom: 10px;
  right: 85px; */
	right: 105px;
}

.planet5 {
	background-color: #1affa3;
	box-shadow: 0 0 50px #1affa3, 0 0 50px #1affa3, 0 0 50px 10px #1affa3;
	width: 25px;
	height: 25px;
	top: 60px;
	left: 173px;
}

.planet6 {
	background-color: #ff3535;
	box-shadow: 0 0 50px #ff3535, 0 0 50px #ff3535, 0 0 50px 10px #ff3535;
	width: 15px;
	height: 15px;
	bottom: 1px;
	right: 200px;
}

.planet7 {
	background-color: #ff33ff;
	box-shadow: 0 0 50px #ff33ff, 0 0 50px #ff33ff, 0 0 50px 10px #ff33ff;
	width: 25px;
	height: 25px;
	top: 165px;
	left: 55px;
}

.planet8 {
	background-color: #ffff33;
	box-shadow: 0 0 50px #ffff33, 0 0 50px #ffff33, 0 0 50px 10px #ffff33;
	width: 30px;
	height: 30px;
	top: 200px;
	right: -8px;
}

.ring {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: transparent;
	border: 2px solid#ff921f;
	position: absolute;
}

.ring2 {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-color: transparent;
	border: 2px solid#059bc4;
	position: absolute;
}

.ring3 {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background-color: transparent;
	border: 2px solid#61dafb;
	position: absolute;
}

.ring4 {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: transparent;
	border: 2px solid#ff615d;
	position: absolute;
}

.ring5 {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: transparent;
	border: 2px solid#1affa3;
	position: absolute;
}

.ring6 {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: transparent;
	border: 2px solid#ff3535;
	position: absolute;
}

.ring7 {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: transparent;
	border: 2px solid#ff33ff;
	position: absolute;
}

.ring8 {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: transparent;
	border: 2px solid#ffff33;
	position: absolute;
}

.line-container {
	position: absolute;
	width: 200px;
	height: 200px;
	bottom: 230px;
	right: 373px;
}

.line-container2 {
	position: absolute;
	width: 200px;
	height: 200px;
	bottom: 0px;
	right: 272px;
}

.line-container3 {
	position: absolute;
	width: 194px;
	height: 200px;
	top: 0px;
	left: 306px;
}

.line-container4 {
	position: absolute;
	width: 239px;
	height: 100px;
	bottom: 0px;
	left: 261px;
}

.line1 {
	position: absolute;
	bottom: 12px;
	right: -15px;
	background-color: #ff921f;
	width: 45px;
	height: 2px;
}

.line2 {
	position: absolute;
	bottom: 59px;
	right: 3px;
	background-color: #ff921f;
	width: 110px;
	height: 2px;
	transform: rotate(60deg);
}

.line3 {
	position: absolute;
	bottom: 107px;
	right: 85px;
	background-color: #ff921f;
	width: 42px;
	height: 2px;
}

.line2-1 {
	position: absolute;
	top: 62px;
	right: 0;
	background-color: #059bc4;
	width: 30px;
	height: 2px;
}

.line2-2 {
	position: absolute;
	bottom: 89px;
	right: 2px;
	background-color: #059bc4;
	width: 110px;
	height: 2px;
	transform: rotate(-60deg);
}

.line2-3 {
	position: absolute;
	bottom: 42px;
	right: 84px;
	background-color: #059bc4;
	width: 143px;
	height: 2px;
}

.line2-4 {
	position: absolute;
	bottom: 15px;
	right: 212px;
	background-color: #059bc4;
	width: 60px;
	height: 2px;
	transform: rotate(-60deg);
}

.line3-1 {
	position: absolute;
	bottom: 37px;
	left: 0px;
	background-color: #61dafb;
	width: 30px;
	height: 2px;
}

.line3-2 {
	position: absolute;
	bottom: 106px;
	right: 44px;
	background-color: #61dafb;
	width: 160px;
	height: 2px;
	transform: rotate(-60deg);
}

.line3-3 {
	position: absolute;
	top: 23px;
	left: 110px;
	background-color: #61dafb;
	width: 84px;
	height: 2px;
}

.line4-1 {
	position: absolute;
	top: 40px;
	left: 0px;
	background-color: #ff615d;
	width: 30px;
	height: 2px;
}

.line4-2 {
	position: absolute;
	bottom: 46px;
	left: 22px;
	background-color: #ff615d;
	width: 30px;
	height: 2px;
	transform: rotate(60deg);
}

.line4-3 {
	position: absolute;
	bottom: 32px;
	left: 44px;
	background-color: #ff615d;
	width: 195px;
	height: 2px;
}

.line4-4 {
	position: absolute;
	bottom: 5px;
	left: 222px;
	background-color: #ff615d;
	width: 60px;
	height: 2px;
	transform: rotate(60deg);
}

.line5-1 {
	position: absolute;
	top: 30px;
	left: 140px;
	background-color: #1affa3;
	width: 90px;
	height: 2px;
	transform: rotate(90deg);
}

.line6-1 {
	position: absolute;
	bottom: -38px;
	left: 110px;
	background-color: #ff3535;
	width: 100px;
	height: 2px;
	transform: rotate(90deg);
}

.line7-1 {
	position: absolute;
	top: 175px;
	right: 300px;
	background-color: #ff33ff;
	width: 225px;
	height: 2px;
}

.line8-1 {
	position: absolute;
	top: 205px;
	left: 365px;
	background-color: #ffff33;
	width: 145px;
	height: 2px;
}

.pop-up {
	background-color: #61dafb;
	border-radius: 5px;
	position: absolute;
	width: 25em;
	top: -50px;
	left: 500px;
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
	padding: 1em;
	transition: opacity 2s ease-out;
}

.pop-up_p {
	text-align: left;
	color: var(--clr-dark);
	font-weight: 400;
}

.pop-up_sub {
	background-color: #ff615d;
	border-radius: 5px;
	position: absolute;
	width: 25em;
	bottom: -110px;
	left: 500px;
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
	padding: 1em;
	transition: opacity 2s ease-out;
}

.pop-up_p_sub {
	text-align: left;
	color: var(--clr-dark);
	font-weight: 400;
}

.pop-up2 {
	background-color: #ff921f;
	border-radius: 5px;
	position: absolute;
	width: 25em;
	top: -73px;
	right: 500px;
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
	padding: 1em;
	transition: opacity 2s ease-out;
}

.pop-up_p2 {
	text-align: left;
	color: var(--clr-dark);
	font-weight: 400;
}

.pop-up_sub2 {
	background-color: #059bc4;
	border-radius: 5px;
	position: absolute;
	width: 25em;
	bottom: -110px;
	right: 500px;
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
	padding: 1em;
	transition: opacity 2s ease-out;
}

.pop-up_p_sub2 {
	text-align: left;
	color: var(--clr-dark);
	font-weight: 400;
}

.pop-up3 {
	background-color: #1affa3;
	border-radius: 5px;
	position: absolute;
	width: 25em;
	top: -135px;
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
	padding: 1em;
	transition: opacity 2s ease-out;
}

.pop-up_p3 {
	text-align: left;
	color: var(--clr-dark);
	font-weight: 400;
}

.pop-up_sub3 {
	background-color: #ff3535;
	border-radius: 5px;
	position: absolute;
	width: 25em;
	top: 380px;
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
	padding: 1em;
	transition: opacity 2s ease-out;
}

.pop-up_p_sub3 {
	text-align: left;
	color: var(--clr-dark);
	font-weight: 400;
}

.pop-up4 {
	background-color: #ff33ff;
	border-radius: 5px;
	position: absolute;
	width: 25em;
	bottom: 125px;
	right: 500px;
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
	padding: 1em;
	transition: opacity 2s ease-out;
}

.pop-up_p_sub2 {
	text-align: left;
	color: var(--clr-dark);
	font-weight: 400;
}

.pop-up_sub4 {
	background-color: #ffff33;
	border-radius: 5px;
	position: absolute;
	width: 25em;
	bottom: 95px;
	left: 500px;
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
	padding: 1em;
	transition: opacity 2s ease-out;
}

.pop-up_p_sub4 {
	text-align: left;
	color: var(--clr-dark);
	font-weight: 400;
}

.pop-up_h3,
.pop-up_h3_sub,
.pop-up_h3_sub2 {
	color: var(--clr-dark);
	text-align: left;
	margin: 0;
}

.pop-up_header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.transition {
	visibility: hidden;
	transition: opacity 2s ease-out;
}

.close {
	width: 1em;
}

@-webkit-keyframes rotating {
	from {
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes rotating {
	from {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	to {
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.rotating-30 {
	-webkit-animation: rotating 30s linear infinite;
	-moz-animation: rotating 30s linear infinite;
	-ms-animation: rotating 30s linear infinite;
	-o-animation: rotating 30s linear infinite;
	animation: rotating 30s linear infinite;
}

@-webkit-keyframes rotating {
	from {
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes rotating {
	from {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	to {
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.rotating-40 {
	-webkit-animation: rotating 40s linear infinite;
	-moz-animation: rotating 40s linear infinite;
	-ms-animation: rotating 40s linear infinite;
	-o-animation: rotating 40s linear infinite;
	animation: rotating 40s linear infinite;
}

@-webkit-keyframes rotating {
	from {
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes rotating {
	from {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	to {
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.rotating-50 {
	-webkit-animation: rotating 50s linear infinite;
	-moz-animation: rotating 50s linear infinite;
	-ms-animation: rotating 50s linear infinite;
	-o-animation: rotating 50s linear infinite;
	animation: rotating 50s linear infinite;
}

@-webkit-keyframes rotating {
	from {
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes rotating {
	from {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	to {
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.rotating-70 {
	-webkit-animation: rotating 70s linear infinite;
	-moz-animation: rotating 70s linear infinite;
	-ms-animation: rotating 70s linear infinite;
	-o-animation: rotating 70s linear infinite;
	animation: rotating 70s linear infinite;
}

@-webkit-keyframes rotating {
	from {
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes rotating {
	from {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	to {
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.rotating-90 {
	-webkit-animation: rotating 90s linear infinite;
	-moz-animation: rotating 90s linear infinite;
	-ms-animation: rotating 90s linear infinite;
	-o-animation: rotating 90s linear infinite;
	animation: rotating 90s linear infinite;
}

@keyframes rotating {
	from {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	to {
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.rotating-100 {
	-webkit-animation: rotating 100s linear infinite;
	-moz-animation: rotating 100s linear infinite;
	-ms-animation: rotating 100s linear infinite;
	-o-animation: rotating 100s linear infinite;
	animation: rotating 100s linear infinite;
}

.paused {
	-webkit-animation-play-state: paused;
	-moz-animation-play-state: paused;
	-o-animation-play-state: paused;
	animation-play-state: paused;
}

@-webkit-keyframes pulse {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}

	50% {
		-webkit-transform: scale3d(1.3, 1.3, 1.3);
		transform: scale3d(1.3, 1.3, 1.3);
	}

	to {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

@keyframes pulse {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}

	50% {
		-webkit-transform: scale3d(1.3, 1.3, 1.3);
		transform: scale3d(1.3, 1.3, 1.3);
	}

	to {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

.pulse {
	-webkit-animation-name: pulse;
	animation-name: pulse;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
}

@-webkit-keyframes pulsate {
	0% {
		-webkit-transform: scale(0.1, 0.1);
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		-webkit-transform: scale(1.2, 1.2);
		opacity: 0;
	}
}

@keyframes pulsate {
	0% {
		-webkit-transform: scale(0.1, 0.1);
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		-webkit-transform: scale(1.2, 1.2);
		opacity: 0;
	}
}

.pulsate {
	-webkit-animation-name: pulsate;
	animation-name: pulsate;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
}
